@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: Poppins, sans-serif;
    background-color: #1E3A5F ;
    color: black;
    margin: 0;
    padding: 0;
}

.task-title {
    font-family: Georgia, serif;
}

/* Personalizando a área das tarefas */
.task-container {
    background-color:
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



.btn-custom:hover {
    background-color: blue ;
    color: white
}

/* Estilizando as tarefas */
.task-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.task-item:last-child {
    border-bottom: none;
}